/* NavBar.css - Compatible with Tailwind CSS v4 */

:root {
  --nav-link-size: 50px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--nav-link-size);
  height: 100%;
  background-color: var(--navbar-color);
  box-shadow: var(--shadow-primary);
  transition: width 0.4s ease;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: var(--nav-link-size);
  box-sizing: border-box;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 0.218s ease;
}

.nav-links .nav-link .link-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.nav-links .nav-link .link-label .nav-links__sub {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-800);
  overflow: hidden;
  height: 0;
  transition: height 0.218s ease;
}

.nav-links .nav-link .link-label .nav-link__details,
.nav-links .nav-link .link-label .nav-link__details.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--color-100);
  margin: 0;
  height: var(--nav-link-size);
  min-height: var(--nav-link-size);
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 4px 0px 0px 4px;
  transition: all 0.218s ease;
}

.nav .nav-links .nav-link .link-label .nav-link__main {
  display: flex;
  flex-direction: row;
  height: var(--nav-link-size);
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav .nav-links .nav-link .link-label .nav-link__main .nav-link__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.nav .nav-links .nav-link .link-label .nav-link__main:not(:has(a)) .nav-link__details::after {
  font-family: "Material Symbols Outlined";
  font-size: 1.2rem;
  font-weight: 700;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "arrow_right";
  width: var(--nav-link-size);
  text-align: left;
  transition: all 0.4s ease;
}

.nav .nav-links .nav-link .link-label input[type="checkbox"] {
  display: none;
}

.nav .nav-links .nav-link .nav-link__icon {
  min-width: var(--nav-link-size);
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.4s ease;
}

.nav .nav-links .nav-link .nav-link__text {
  display: none;
  width: 0;
  text-align: left;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.nav:hover {
  width: 250px;
}

.nav:hover .nav-links .nav-link {
  width: calc(100%);
}

.nav:hover .nav-links .nav-link .nav-link__text {
  display: flex;
  width: 100%;
}

.nav:hover .nav-links .nav-link .nav-link__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--nav-link-size);
}

.nav .nav-links .nav-link .link-label .nav-links__sub .nav-link:hover {
  background-color: var(--color-900);
  font-weight: 400;
  color: var(--color-100);
  transition: all 0.218s ease;
}

.nav .nav-links .nav-link .link-label:has(input[type="checkbox"]:checked) {
  color: var(--color-100);
  background-color: var(--color-700);
  height: auto;
  transition: all 0.218s ease;
}

.nav .nav-links .nav-link .link-label:not(:has(input[type="checkbox"]:checked)) .nav-links__sub {
  height: 0px;
  transition: all 0.218s ease;
}

.nav .nav-links .nav-link .link-label:has(input[type="checkbox"]:checked) .nav-link__main .nav-link__details::after {
  content: "arrow_drop_down";
}

.nav:hover .nav-links .nav-link:has(input[type="checkbox"]:checked) {
  height: auto;
  transition: all 0.218s ease;
}

.nav-link.selected {
  background-color: var(--color-100);
  color: var(--color-800);
  font-weight: 500;
  transition: all 0.218s ease;
}

.nav .nav-links a.nav-link.selected {
  color: var(--color-800);
}

.nav .nav-links .nav-link .link-label .nav-links__sub .nav-link.selected {
  background-color: var(--color-100);
  color: var(--color-700);
  transition: all 0.218s ease;
}

.nav .nav-links .nav-link .link-label:has(.nav-links__sub .nav-link.selected) {
  background-color: var(--color-100);
  border-left: 3px solid var(--color-800);
  color: var(--color-700);
  transition: all 0.218s ease;
}

.nav:hover .nav-links .nav-link .link-label:has(.nav-links__sub .nav-link.selected) {
  background-color: var(--color-100);
  border-left: 3px solid var(--color-900);
  color: var(--color-700);
  transition: all 0.218s ease;
}

/* Profile section */
.nav__profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--nav-link-size);
  height: var(--nav-link-size);
}

.nav__profile-image {
  width: calc(var(--nav-link-size) - 10px);
  height: calc(var(--nav-link-size) - 10px);
  border-radius: 50%;
  background-color: var(--color-400);
  background-size: cover;
  background-position: center;
}

.nav__profile {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 200;
  padding-left: 10px;
  width: 0;
  transition: all 0.4s ease;
}

.nav .nav-container .nav__profile .nav__logout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-100);
  font-size: 24px;
  border: 0px solid var(--color-900);
  border-left-width: 1px;
  width: calc(var(--nav-link-size) - 1px);
  height: var(--nav-link-size);
  transition: 0.218s ease;
}

.nav:hover .nav-container .nav__profile .nav__logout:hover {
  border-left-width: 2px;
  background-color: var(--color-900);
  color: var(--color-100);
}

.nav:hover .nav-container .nav__profile {
  display: flex;
  width: 100%;
}

.nav .nav__logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--nav-link-size);
  height: var(--nav-link-size);
}

.nav .nav__logo-container .nav__logo {
  width: calc(var(--nav-link-size) - 10px);
  aspect-ratio: 1/1;
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav .nav__name {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 0;
  color: var(--color-100);
  text-align: left;
  transition: all 0.4s ease;
}

.nav .nav__name .nav__name-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.nav .nav__name .nav__name-version {
  font-size: 10px;
  color: var(--color-400);
  padding-left: 10px;
}

.nav:hover .nav__name {
  display: flex;
  width: 100%;
}